<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>745933405781-ppjmb2l29vsm2vv3fqoeu0odk3bqa5jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745933405781-ppjmb2l29vsm2vv3fqoeu0odk3bqa5jh</string>
	<key>API_KEY</key>
	<string>AIzaSyC7J32XJ2adTC6SXi_6TI66Unl35_sjetk</string>
	<key>GCM_SENDER_ID</key>
	<string>745933405781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeet.TreatFinder</string>
	<key>PROJECT_ID</key>
	<string>halloweendash-f103a</string>
	<key>STORAGE_BUCKET</key>
	<string>halloweendash-f103a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745933405781:ios:2e3168fa3b1c094a</string>
	<key>DATABASE_URL</key>
	<string>https://halloweendash-f103a.firebaseio.com</string>
</dict>
</plist>